/* Navigation bar */
body {
    background-color: #05A3A6;
}

.logo {
    padding: 0;
    margin-left: -60px;
}

.navbar {
    padding: 0px;
}

.Movie {
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

.List {
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

.watchlist {
    height: 35px;
    margin-top: 6px;
}

.footer {
    height: 50px;
    margin-bottom: 12px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container-1 {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.bottom-left {
    position: absolute;
    bottom: 150px;
    left: 50px;
}

/* Home Page CSS */

#slider{
    margin-bottom: 15px;
}

#slider_text{
    width: 500px;
}

#category{
    background-color: #006373;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}

#box2{
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 10px;
}

#box3{
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
#box4{
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
#box5{
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 10px;
}

#box6{
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#box7{
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#box8{
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#box9{
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#box10{
    width: 150px;
    height: 250px;
    background-color: white;
    margin-left: 50px;
}

#box11{
    width: 150px;
    height: 250px;
    background-color: white;
    margin-left: 50px;
}

#box12{
    width: 150px;
    height: 250px;
    background-color: white;
    margin-left: 50px;
}

#box13{
    width: 150px;
    height: 250px;
    background-color: white;
    margin-left: 50px;
}

/* Movies Page CSS */

#all {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
    margin-left: 500px;
}

#tags {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

#stars {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

#score {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

/* Sign In/Up (Index) Page CSS*/

#user-name1 {
    margin-bottom: 50px;
    margin-left: 130px;
}

#pass-word1 {
    margin-left: 130px;
}

#signinbtn {
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 230px;
    height: 40px;
}

#signupbtn {
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 230px;
    height: 40px;
}

#signinbtn:hover {
    cursor: pointer;
    background-color: #05A3A6;
    color: white
}

#signupbtn:hover {
    cursor: pointer;
    background-color: #05A3A6;
    color: white
}

#signin1 {
    background-color: #82dcdd;
}

#signup1 {
    background-color: #03787a;
}

#signup1:hover {
    cursor: pointer;
}

#signin1:hover {
    cursor: pointer;
}

#errortext1 {
    position: absolute;
    margin-top: 200px;
    color: #e8891d;
    margin-left: 130px;
    background-color: #ffffff;
    width: 260px;
    border-radius: 5px;
}

/* Single Movie Page CSS */