/* Navigation bar */
body {
    background-color: #05A3A6;
}

.logo {
    padding: 0;
    margin-left: -60px;
}

.navbar {
    padding: 0px;
}

.Movie {
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

.List {
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

.watchlist {
    height: 35px;
    margin-top: 6px;
}

.footer {
    height: 50px;
    margin-bottom: 12px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container-1 {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.bottom-left {
    position: absolute;
    bottom: 150px;
    left: 50px;
}

/* Home Page CSS */

#welcome{
    margin-bottom: 20px;
}

#box1{
    height: 1744px;
    width: 1419px;
}

.bt {
    border-radius: 10px;
    border: none;
    width: 100px;
}


.text {
    padding-bottom: 10px;
    font-size: 30pt;
    color: black;
    text-align: center;
}

.text2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30pt;
    color: black;
    text-align: center;
}

.text3 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30pt;
    color: black;
    text-align: center;
}

.iconl,.iconl1,.iconl2,.iconl3,.iconl4,.iconl5,.iconl8,.iconl7 {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 250px;
    padding-left: 3px;
    background-color: #e8891da9;
    border-radius: 0;
    opacity: 0;
    transition-duration: 400ms;
    color: black;
}

.iconl:hover,.iconl1:hover,.iconl2:hover,.iconl3:hover,.iconl4:hover,.iconl5:hover,.iconl8:hover,.iconl7:hover {
    opacity: 1;
}


/* Movies Page CSS */

#box2{
    height: 1738px;
    width: 1430px;
    background-color: #05A3A6;
    padding: 0;
}


#all {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

#tags {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

#stars {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

#score {
    color: #E8891D;
    background-color: #006373;
    font-weight: bold;
    font-size: 14pt;
    padding: 3px;
}

.iconlb,.iconlb1,.iconlb2,.iconlb3,.iconlb4,.iconlb5,.iconlb6,.iconlb7,.iconlb8,.iconlb9,.iconlb10,
.iconlb11,.iconlb12,.iconlb13,.iconlb14,.iconlb15,.iconlb16,.iconlb17,.iconlb18,.iconlb19,
.iconlb01,.iconlb02,.iconlb03,.iconlb04,.iconlb05 {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 374px;
    padding-left: 3px;
    background-color: #e8891da9;
    border-radius: 0;
    opacity: 0;
    transition-duration: 400ms;
}

.iconlb:hover,.iconlb1:hover,.iconlb2:hover,.iconlb3:hover,.iconlb4:hover,.iconlb5:hover,.iconlb6:hover,.iconlb7:hover,.iconlb8:hover,.iconlb9:hover,.iconlb10:hover,
.iconlb11:hover,.iconlb12:hover,.iconlb13:hover,.iconlb14:hover,.iconlb15:hover,.iconlb16:hover,.iconlb17:hover,.iconlb18:hover,.iconlb19:hover,
.iconlb01:hover,.iconlb02:hover,.iconlb03:hover,.iconlb04:hover,.iconlb05:hover {
    opacity: 1;
}

/* Sign In/Up (Index) Page CSS*/

#user-name1 {
    margin-bottom: 50px;
    margin-left: 130px;
}

#pass-word1 {
    margin-left: 130px;
}

#signinbtn {
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 230px;
    height: 40px;
}

#signupbtn {
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 230px;
    height: 40px;
}

#signinbtn:hover {
    cursor: pointer;
    background-color: #05A3A6;
    color: white
}

#signupbtn:hover {
    cursor: pointer;
    background-color: #05A3A6;
    color: white
}

#signin1 {
    background-color: #82dcdd;
}

#signup1 {
    background-color: #03787a;
}

#signup1:hover {
    cursor: pointer;
}

#signin1:hover {
    cursor: pointer;
}

#errortext1 {
    position: absolute;
    margin-top: 200px;
    color: #e8891d;
    margin-left: 130px;
    background-color: #ffffff;
    width: 260px;
    border-radius: 5px;
}

/* Movie Watchlist Page CSS */

.icon4,.icon5,.icon8,.icon7 {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 180px;
    padding-left: 3px;
    background-color: #e8891da9;
    border-radius: 0;
    opacity: 0;
    transition-duration: 400ms;
    color: black;
}

.icon4:hover,.icon5:hover,.icon8:hover,.icon7:hover {
    opacity: 1;
}

/* Single Movie Page Css */

.button {
    color: #05A3A6;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #05A3A6; 
    color: black;
    border-radius: 50px;
}
  
.button {
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #05A3A6;
}
  
.button:hover {
    background-color: #05A3A6;
    color: #ffffff;
}

.button1 {
    color: #05A3A6;
    padding: 4px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #05A3A6; 
    margin-left: 20px;
    border-radius: 5px;
}
  
.button1 {
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #05A3A6;
}
  
.button1:hover {
    background-color: #05A3A6;
    color: #ffffff;
}

.white_box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container1 {
    position: relative;
    width: 350px;
    height: 50px;
}

.container2 {
    position: relative;
    width: 350px;
    height: 50px;
}

.container3 {
    position: relative;
    width: 350px;
    height: 50px;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E8891D;
    margin-top: 200px;
}
  
.container1:hover .overlay {
    opacity: 1;
}

.container2:hover .overlay {
    opacity: 1;
}

.container3:hover .overlay {
    opacity: 1;
}
 
